* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;

}

section {
    height: 100vh;
    width: 100%;
}

svg {
    position: fixed;
    top: 60%;
    transform: translateY(-50%);
    left: 50%
}

h1 {
    font-family: "Lato", sans-serif;
    font-size: 8rem;
    position: absolute;
    top: 30%;
    left: 10%;
}

.watermark {
    position: absolute;
    font-family: "Lato", sans-serif;
    -webkit-text-stroke: 2px black;
    text-stroke: 2px black;
    font-size: 20rem;
    color: white;
    opacity: .2;
    z-index: -1;
    transform: translate(110%, 140%);
}